<div class="ui container">
<br>
<div class="ui segment">
Name
<div class="ui input">
  {{input value=model.copy.name class="ui input" type="text" placeholder="Nom..." name="name"}}
</div>
Description
<div class="ui input">
  {{input value=model.copy.description class="ui input" type="text" placeholder="Descriptif..." name="description"}}
</div>
Start date
<div class="ui input">
  {{input value=model.copy.creationDate class="ui input" type="date" placeholder="Start date..." name="creationDate"}}
</div>
Due date
<div class="ui input">
  {{input value=model.copy.dueDate class="ui input" type="date" placeholder="Due date..." name="dueDate"}}
</div>
<button {{action "save" model}} class="ui green icon button">
    <i class="check circle icon"></i> Valider
  </button> 
</div>
</div>
{{outlet}}